@sap-rfc:registry=https://73554900100900009091.npmsrv.repositories.cloud.sap
//73554900100900009091.npmsrv.repositories.cloud.sap/:_auth=MDAwMjAyMjA5Ny12aW06RXFmVWRCNkNrYTRqa2lWdTlSVGdKMkRSSVZUaXNkeGc=